In [21]:
import pandas as pd 
from pytorch_model import headers
import os 
from tqdm import tqdm
from sklearn import metrics

In [3]:
df = pd.read_csv('/n/eecs583a/home/zeichen/project/model_prototypes/models_out/dataset_splits.csv')
df

,Unnamed: 0,task,submission,n_rows,path,fold
0,0,3402,18518548,33,/Dataset/group22/processed/more_cpp_2/results/...,eval
1,1,2318,20186872,22,/Dataset/group22/processed/more_cpp_2/results/...,test
2,2,2972,21046738,21,/Dataset/group22/processed/more_cpp_2/results/...,train
3,3,2957,1649621,20,/Dataset/group22/processed/more_cpp_2/results/...,test
4,4,3494,32944794,13,/Dataset/group22/processed/more_cpp_2/results/...,test
...,...,...,...,...,...,...
12044,12044,2890,6501214,21,/Dataset/group22/processed/more_cpp_2/results/...,test
12045,12045,3490,12927202,70,/Dataset/group22/processed/more_cpp_2/results/...,train
12046,12046,2985,18462169,17,/Dataset/group22/processed/more_cpp_2/results/...,train
12047,12047,3044,70502472,19,/Dataset/group22/processed/more_cpp_2/results/...,test
12048,12048,3085,26345297,55,/Dataset/group22/processed/more_cpp_2/results/...,train

In [4]:
df['n_rows'].mean()

32.60469748526849

In [5]:
gb = df.groupby('fold').agg({'task':'nunique','submission':'count','n_rows':'sum'})
gb

       task  submission  n_rows
fold
eval    143        1835   59325
test    148        1956   58488
train   643        8258  275041

In [6]:
gb / gb.sum(axis=0)

           task  submission   n_rows
fold
eval   0.153105    0.152295  0.15101
test   0.158458    0.162337  0.14888
train  0.688437    0.685368  0.70011

In [9]:

test = df[df['fold'] == 'test']
test

,Unnamed: 0,task,submission,n_rows,path,fold
1,1,2318,20186872,22,/Dataset/group22/processed/more_cpp_2/results/...,test
3,3,2957,1649621,20,/Dataset/group22/processed/more_cpp_2/results/...,test
4,4,3494,32944794,13,/Dataset/group22/processed/more_cpp_2/results/...,test
9,9,2866,1661233,19,/Dataset/group22/processed/more_cpp_2/results/...,test
28,28,3346,7865140,93,/Dataset/group22/processed/more_cpp_2/results/...,test
...,...,...,...,...,...,...
12022,12022,3401,52147188,11,/Dataset/group22/processed/more_cpp_2/results/...,test
12042,12042,2267,36614408,16,/Dataset/group22/processed/more_cpp_2/results/...,test
12043,12043,2624,9887129,11,/Dataset/group22/processed/more_cpp_2/results/...,test
12044,12044,2890,6501214,21,/Dataset/group22/processed/more_cpp_2/results/...,test
12047,12047,3044,70502472,19,/Dataset/group22/processed/more_cpp_2/results/...,test

In [40]:
def get_heur_path(path):
    return path.replace('/more_cpp_2','/more_cpp_heuristic')

labels, heuristics = [],[]
act_i = 0
for i, row in tqdm(test.iterrows(),total=len(test)):
    # print(row['path'], get_heur_path(row['path']))
    if os.path.isfile(get_heur_path(row['path'])):
        # print('found match')
        base = pd.read_csv(row['path'],names=headers,delimiter=',')
        heur = pd.read_csv(get_heur_path(row['path']),names=headers,delimiter=',')
        labels.extend(list(base['branch_prob']))
        heuristics.extend(list(heur['branch_prob']))

    # if act_i > 100: break 
    # act_i +=1

4249it [00:14, 254.71it/s]

In [22]:
print(metrics.mean_squared_error(labels,heuristics) )
print(metrics.mean_squared_error(labels,heuristics) **0.5)

print(metrics.mean_absolute_error(labels,heuristics) )

ValueError: Found array with 0 sample(s) (shape=(0,)) while a minimum of 1 is required.

In [23]:
labels

[]